# Node modules
node_modules/

services/

# Logs
npm-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Coverage
coverage/

# Cache
.cache/

# Logs
*.log

# Temporary files
*.tmp

# Mengabaikan file .log
*.xlsx

# Mengabaikan file .tmp
*.bat

# Mengabaikan file .zip
*.zip


